body {
    font-family: Montserrat;
    font-size: 14px;
}

form {
    width: 60vw !important;
}

h1 {
    font-size: 64px;
}

.btn-success {
    width: 8rem;
    height: 2.6rem;
    border-radius: 4px;
    margin-bottom: 24px;
    border: none;
}

.btn-outline-success {
    width: 8rem;
    height: 2.6rem;
    border: 1px solid;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 24px;
    background: none;
    margin-left: 16px;
    text-align: center;
}

.delete-btn {
    margin-left: 8px;
}

.card {
    width: 60vw;
    margin-bottom: 24px;
}

.block {
    width: 60vw;
}

.status {
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.status:hover {
    text-decoration: none;
    color: black;
}

.card-date {
    font-size: 12px;
    color: #777777;
    margin-top: 4px;
    margin-bottom: 0;
}

.file-block {
    margin-bottom: 8px;
}

.file-link {
    color: black;
}

.file-link:hover {
    color: #777777;
}

.Done {
    background: #DBEDDB;
}

.Processing {
    background: #FDECC8;
}

.Expired {
    background: #FFE2DD;
}

.content {
    margin-top: 6vh;
}

.card-text {
    margin-bottom: 8px;
}

