body {
    font-family: Montserrat;
    font-size: 14px;
}

form {
    width: 60vw!important;
}

h1 {
    font-size: 64px;
}

.btn-primary {
    width: 12rem;
    height: 2.6rem;
    border-radius: 4px;
}

