{% extends "base.html" %}
{% block template %}
Update task
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h1>Edit task</h1>
    <form action="/{{task.id}}/update-task" method="post" class="d-flex flex-column" id="form">
        <div class="mb-3">
            <input name="task-title" class="form-control" value="{{task.task_title}}">
        </div>
        <select class="form-select form-control" name="task-status">
            <option class="dropdown-item" selected value="Processing">
                Processing
            </option>
            <option class="dropdown-item" value="Expired">
                Expired
            </option>
            <option class="dropdown-item" value="Done">
                Done
            </option>
        </select>
        <div class="mb-3">
            <input type="date" name="task-deadline" class="form-control" value="{{task.date}}" required>
        </div>
        <div class="mb-3">
        <textarea name="task-text" class="form-control" rows="3">
             {{task.task_text}}
        </textarea>
        </div>
        <button type="submit" class="btn-success">Edit</button>
    </form>
</div>
{% endblock %}
