{% extends "base.html" %}


{% block template %}
Todo list
{% endblock %}


{% block content %}
<div class="content d-flex flex-column align-items-center">

    <div class="block"><h1>Todo list</h1></div>

    <div class="block">
        <button class="btn-success" id="add-task">+ Add task</button>
        <form action="/add-task" method="post" class="d-none" id="form" enctype='multipart/form-data'>
            <h5>New task</h5>
            <div class="mb-3">
                <input type="text" name="task-title" class="form-control" placeholder="Title">
            </div>
            <div class="mb-3">
                <input type="date" name="task-deadline" class="form-control" placeholder="01.01.2022">
            </div>
            <div class="mb-3">
                <textarea name="task-text" class="form-control" rows="3"></textarea>
            </div>
            <div>
                <label class="file_loader form-control" id="file-upload-label" for="fileInput">
                    Load file
                </label>
                <input type="file" name="file" id="fileInput" hidden/>
            </div>
            <div class="d-flex flex-row">
                <button type="submit" class="btn-success">Create task</button>
                <a href="/" class="btn-outline-success d-flex flex-column justify-content-center">Cancel</a>
            </div>
        </form>
    </div>

    {% for task in tasks %}
    <div class="card">
        <h5 class="card-header d-flex flex-row align-items-center">
            <b>{{task.task_title}}</b>
        </h5>
        <div class="card-body">
            <a class="status {{statuses[task.status_id]}}">{{statuses[task.status_id]}}</a>
            <p class="card-date">{{task.date}}</p>
            <p class="card-text">{{task.task_text}}</p>
            <div class="file-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-paperclip" viewBox="0 0 16 16">
                    <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                </svg>
                <a href="/{{task.id}}/{{files[tasks.index(task)][0].file_name}}" class="file-link">
                    {{files[tasks.index(task)][0].file_name}}</a>
            </div>
            <a href="/{{task.id}}/update-task" class="btn-link">
                Edit
            </a>
            <a href="/{{task.id}}/delete-task" class="delete-btn btn-link">
                Delete
            </a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}